<a href="https://colab.research.google.com/github/AMAYadav/job_code_test/blob/main/cointab_test_job.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [225]:
'''

Business Scenario
You are a data analyst and your client has a large ecommerce company in India (let’s call it X).
X gets a thousand orders via their website on a daily basis and they have to deliver them as fast
as they can. For delivering the goods ordered by the customers, X has tied up with multiple
courier companies in India as delivery partners who charge them some amount per delivery.
The charges are dependent upon two factors:
● Weight of the product
● Distance between the warehouse (pickup location) and customer’s delivery address
(destination location)
On an average, the delivery charges are Rs. 100 per shipment. So if X ships 1,00,000 orders
per month, they have to pay approximately Rs. 1 crore to the courier companies on a monthly
basis as charges.
As the amount that X has to pay to the courier companies is very high, they want to verify if the
charges levied by their Delivery partners per Order are correct.
Input Data


Left Hand Side (LHS) Data (X’s internal data spread across three reports)
● Website order report- which will list Order IDs and various products (SKUs) part of each
order. Order ID is common identifier between X’s order report and courier company
invoice

● SKU master with gross weight of each product-This should be used to calculate total
weight of each order and during analysis compare against one reported by courier
company in their CSV invoice per Order ID. The courier company calculates weight in
slabs of 0.5 KG multiples, so first you have to figure out the total weight of the shipment
and then figure out applicable weight slabs.
For example:
- If the total weight is 400 gram then weight slab should be 0.5
- If the total weight is 950 gram then weight slab should be 1
- If the total weight is 1 KG then weight slab should be 1
- If the total weight is 2.2 KG then weight slab should be 2.5


● Warehouse pincode to All India pincode mapping -(this should be used to figure out
delivery zone (a/b/c/d/e) and during analysis compare against one reported by courier
company in their CSV invoice per Order ID


RHS Data (courier company invoice in CSV file)
● Invoice in CSV file mentioning AWB Number (courier company’s own internal ID), Order
ID (company X’s order ID), weight of shipment, warehouse pickup pincode, customer
delivery pincode, zone of delivery, charges per shipment, type of shipment

● Courier charges rate card at weight slab and pincode level. If the invoice mentions
“Forward charges” then only forward charges (“fwd”) should be applicable as per zone
and fixed & additional weights based on weight slabs. If the invoice mentions “Forward
and rto charges” then forward charges (“fwd”) and RTO charges (“rto”) should be
applicable as per zone and fixed & additional weights based on weight slabs.

----------
● For the first 0.5 KG, “fixed” rate as per the slab is applicable. For each additional 0.5 KG,
“additional” weight in the same proportion is applicable. Total charges will be “fixed” +
“total additional” if any
-----------

#OUTPUT FILES TO BE IN_ORDER



Output Data 1
Create a resultant CSV/Excel file with the following columns:
● Order ID
● AWB Number
● Total weight as per X (KG)
● Weight slab as per X (KG)
● Total weight as per Courier Company (KG)
● Weight slab charged by Courier Company (KG)
● Delivery Zone as per X
● Delivery Zone charged by Courier Company
● Expected Charge as per X (Rs.)
● Charges Billed by Courier Company (Rs.)
● Difference Between Expected Charges and Billed Charges (Rs.)

'''

'\n\nBusiness Scenario\nYou are a data analyst and your client has a large ecommerce company in India (let’s call it X).\nX gets a thousand orders via their website on a daily basis and they have to deliver them as fast\nas they can. For delivering the goods ordered by the customers, X has tied up with multiple\ncourier companies in India as delivery partners who charge them some amount per delivery.\nThe charges are dependent upon two factors:\n● Weight of the product\n● Distance between the warehouse (pickup location) and customer’s delivery address\n(destination location)\nOn an average, the delivery charges are Rs. 100 per shipment. So if X ships 1,00,000 orders\nper month, they have to pay approximately Rs. 1 crore to the courier companies on a monthly\nbasis as charges.\nAs the amount that X has to pay to the courier companies is very high, they want to verify if the\ncharges levied by their Delivery partners per Order are correct.\nInput Data\n\n\nLeft Hand Side (LHS) Data (X’s internal data spread across three reports)\n● Website order report- which will list Order IDs and various products (SKUs) part of each\norder. Order ID is common identifier between X’s order report and courier company\ninvoice\n\n● SKU master with gross weight of each product-This should be used to calculate total\nweight of each order and during analysis compare against one reported by courier\ncompany in their CSV invoice per Order ID. The courier company calculates weight in\nslabs of 0.5 KG multiples, so first you have to figure out the total weight of the shipment\nand then figure out applicable weight slabs.\nFor example:\n- If the total weight is 400 gram then weight slab should be 0.5\n- If the total weight is 950 gram then weight slab should be 1\n- If the total weight is 1 KG then weight slab should be 1\n- If the total weight is 2.2 KG then weight slab should be 2.5\n\n\n● Warehouse pincode to All India pincode mapping -(this should be used to figure out\ndelivery zone (a/b/c/d/e) and during analysis compare against one reported by courier\ncompany in their CSV invoice per Order ID\n\n\nRHS Data (courier company invoice in CSV file)\n● Invoice in CSV file mentioning AWB Number (courier company’s own internal ID), Order\nID (company X’s order ID), weight of shipment, warehouse pickup pincode, customer\ndelivery pincode, zone of delivery, charges per shipment, type of shipment\n\n● Courier charges rate card at weight slab and pincode level. If the invoice mentions\n“Forward charges” then only forward charges (“fwd”) should be applicable as per zone\nand fixed & additional weights based on weight slabs. If the invoice mentions “Forward\nand rto charges” then forward charges (“fwd”) and RTO charges (“rto”) should be\napplicable as per zone and fixed & additional weights based on weight slabs.\n\n----------\n● For the first 0.5 KG, “fixed” rate as per the slab is applicable. For each additional 0.5 KG,\n“additional” weight in the same proportion is applicable. Total charges will be “fixed” +\n“total additional” if any\n-----------\n\n#OUTPUT FILES TO BE IN_ORDER\n\n\n\nOutput Data 1\nCreate a resultant CSV/Excel file with the following columns:\n● Order ID\n● AWB Number\n● Total weight as per X (KG)\n● Weight slab as per X (KG)\n● Total weight as per Courier Company (KG)\n● Weight slab charged by Courier Company (KG)\n● Delivery Zone as per X\n● Delivery Zone charged by Courier Company\n● Expected Charge as per X (Rs.)\n● Charges Billed by Courier Company (Rs.)\n● Difference Between Expected Charges and Billed Charges (Rs.)\n\n'

In [226]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

import seaborn as sns

In [227]:
# from google.colab import drive
# drive.mount('/content/drive/')

# %cd /content/drive/My Drive/cointab/

In [228]:
# x_courier company files

order_report=pd.read_excel('/content/Company X - Order Report.xlsx')
order_report

pincode=pd.read_excel('/content/Company X - Pincode Zones.xlsx')

sku=pd.read_excel('/content/Company X - SKU Master.xlsx')

# courier delievery files

invoice=pd.read_excel('/content/Courier Company - Invoice.xlsx')

rates = pd.read_excel('/content/Courier Company - Rates.xlsx')

In [229]:
# ------------------------------#
b=order_report.merge(sku,on='SKU')[['ExternOrderNo','Order Qty','Weight (g)']]
b['total_weight(kg)']=round((b['Order Qty']*b['Weight (g)'])/1000,2)
b1=b.groupby('ExternOrderNo',as_index=False).sum()
b2=b1.merge(invoice,left_on='ExternOrderNo',right_on='Order ID',how='left')
b2

,ExternOrderNo,Order Qty,Weight (g),total_weight(kg),AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.)
0,2001806210,2.0,220,0.22,1091117221940,2001806210,2.92,121003,140604,b,Forward charges,174.5
1,2001806226,2.0,240,0.48,1091117222065,2001806226,0.68,121003,723146,d,Forward charges,90.2
2,2001806229,3.0,500,0.50,1091117222080,2001806229,0.71,121003,421204,d,Forward charges,90.2
3,2001806232,8.0,377,1.30,1091117222124,2001806232,1.30,121003,507101,d,Forward charges,135.0
4,2001806233,2.0,245,0.25,1091117222135,2001806233,0.78,121003,263139,b,Forward charges,61.3
...,...,...,...,...,...,...,...,...,...,...,...,...
119,2001821995,2.0,477,0.48,1091121183730,2001821995,0.50,121003,342008,d,Forward charges,45.4
120,2001822466,10.0,352,1.38,1091121305541,2001822466,1.10,121003,342301,d,Forward charges,135.0
121,2001823564,6.0,336,0.66,1091121666133,2001823564,0.70,121003,492001,d,Forward and RTO charges,172.8
122,2001825261,13.0,611,1.56,1091121981575,2001825261,1.60,121003,517128,d,Forward and RTO charges,345.0
123,2001827036,10.0,2039,2.17,1091122418320,2001827036,1.60,121003,173213,b,Forward charges,117.9

In [230]:
b3=b2[['total_weight(kg)',
       'AWB Code', 'Order ID', 'Charged Weight', 'Warehouse Pincode',
       'Customer Pincode', 'Zone', 'Type of Shipment', 'Billing Amount (Rs.)']]

In [231]:
#----------------------------------------#
##
combined=pd.merge(b3,pincode, how='left', left_on=['Warehouse Pincode','Customer Pincode',],right_on = ['Warehouse Pincode','Customer Pincode',])
combined.info();
combined

<class 'pandas.core.frame.DataFrame'>
Int64Index: 174 entries, 0 to 173
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   total_weight(kg)      174 non-null    float64
 1   AWB Code              174 non-null    int64
 2   Order ID              174 non-null    int64
 3   Charged Weight        174 non-null    float64
 4   Warehouse Pincode     174 non-null    int64
 5   Customer Pincode      174 non-null    int64
 6   Zone_x                174 non-null    object
 7   Type of Shipment      174 non-null    object
 8   Billing Amount (Rs.)  174 non-null    float64
 9   Zone_y                174 non-null    object
dtypes: float64(3), int64(4), object(3)
memory usage: 15.0+ KB

,total_weight(kg),AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode,Zone_x,Type of Shipment,Billing Amount (Rs.),Zone_y
0,0.22,1091117221940,2001806210,2.92,121003,140604,b,Forward charges,174.5,b
1,0.48,1091117222065,2001806226,0.68,121003,723146,d,Forward charges,90.2,d
2,0.50,1091117222080,2001806229,0.71,121003,421204,d,Forward charges,90.2,d
3,1.30,1091117222124,2001806232,1.30,121003,507101,d,Forward charges,135.0,d
4,0.25,1091117222135,2001806233,0.78,121003,263139,b,Forward charges,61.3,b
...,...,...,...,...,...,...,...,...,...,...
169,0.48,1091121183730,2001821995,0.50,121003,342008,d,Forward charges,45.4,b
170,1.38,1091121305541,2001822466,1.10,121003,342301,d,Forward charges,135.0,b
171,0.66,1091121666133,2001823564,0.70,121003,492001,d,Forward and RTO charges,172.8,d
172,1.56,1091121981575,2001825261,1.60,121003,517128,d,Forward and RTO charges,345.0,d
173,2.17,1091122418320,2001827036,1.60,121003,173213,b,Forward charges,117.9,e

In [232]:
# np.where(combined.Zone ==combined.Zone,combined.Zone,combined.Zone)

In [233]:
rates

,fwd_a_fixed,fwd_a_additional,fwd_b_fixed,fwd_b_additional,fwd_c_fixed,fwd_c_additional,fwd_d_fixed,fwd_d_additional,fwd_e_fixed,fwd_e_additional,rto_a_fixed,rto_a_additional,rto_b_fixed,rto_b_additional,rto_c_fixed,rto_c_additional,rto_d_fixed,rto_d_additional,rto_e_fixed,rto_e_additional
0,29.5,23.6,33,28.3,40.1,38.9,45.4,44.8,56.6,55.5,13.6,23.6,20.5,28.3,31.9,38.9,41.3,44.8,50.7,55.5

In [234]:
combined

,total_weight(kg),AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode,Zone_x,Type of Shipment,Billing Amount (Rs.),Zone_y
0,0.22,1091117221940,2001806210,2.92,121003,140604,b,Forward charges,174.5,b
1,0.48,1091117222065,2001806226,0.68,121003,723146,d,Forward charges,90.2,d
2,0.50,1091117222080,2001806229,0.71,121003,421204,d,Forward charges,90.2,d
3,1.30,1091117222124,2001806232,1.30,121003,507101,d,Forward charges,135.0,d
4,0.25,1091117222135,2001806233,0.78,121003,263139,b,Forward charges,61.3,b
...,...,...,...,...,...,...,...,...,...,...
169,0.48,1091121183730,2001821995,0.50,121003,342008,d,Forward charges,45.4,b
170,1.38,1091121305541,2001822466,1.10,121003,342301,d,Forward charges,135.0,b
171,0.66,1091121666133,2001823564,0.70,121003,492001,d,Forward and RTO charges,172.8,d
172,1.56,1091121981575,2001825261,1.60,121003,517128,d,Forward and RTO charges,345.0,d
173,2.17,1091122418320,2001827036,1.60,121003,173213,b,Forward charges,117.9,e

In [235]:
combined

,total_weight(kg),AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode,Zone_x,Type of Shipment,Billing Amount (Rs.),Zone_y
0,0.22,1091117221940,2001806210,2.92,121003,140604,b,Forward charges,174.5,b
1,0.48,1091117222065,2001806226,0.68,121003,723146,d,Forward charges,90.2,d
2,0.50,1091117222080,2001806229,0.71,121003,421204,d,Forward charges,90.2,d
3,1.30,1091117222124,2001806232,1.30,121003,507101,d,Forward charges,135.0,d
4,0.25,1091117222135,2001806233,0.78,121003,263139,b,Forward charges,61.3,b
...,...,...,...,...,...,...,...,...,...,...
169,0.48,1091121183730,2001821995,0.50,121003,342008,d,Forward charges,45.4,b
170,1.38,1091121305541,2001822466,1.10,121003,342301,d,Forward charges,135.0,b
171,0.66,1091121666133,2001823564,0.70,121003,492001,d,Forward and RTO charges,172.8,d
172,1.56,1091121981575,2001825261,1.60,121003,517128,d,Forward and RTO charges,345.0,d
173,2.17,1091122418320,2001827036,1.60,121003,173213,b,Forward charges,117.9,e

In [236]:
combined['Type of Shipment']+'_'+combined['Zone_x']

0              Forward charges_b
1              Forward charges_d
2              Forward charges_d
3              Forward charges_d
4              Forward charges_b
                 ...
169            Forward charges_d
170            Forward charges_d
171    Forward and RTO charges_d
172    Forward and RTO charges_d
173            Forward charges_b
Length: 174, dtype: object

In [237]:
#---------------------#
# combined['charges']=combined[['Type of Shipment','Zone_x','total_weight(kg)','Charged Weight','Billing Amount (Rs.)']][['Type of Shipment']].replace(
#     ['Forward charges','Forward and RTO charges'],['fwd','fwd_rto'])

#  combined['charges_zones']= combined['charges']+'_'+ combined['Zone_x']

#  combined['total_weight(kg)']

In [238]:
combined['total_weight(kg)'].unique()

array([0.22, 0.48, 0.5 , 1.3 , 0.25, 0.62, 2.26, 0.7 , 1.62, 0.13, 0.95,
       0.96, 0.24, 0.84, 0.61, 0.36, 1.47, 1.16, 0.49, 2.  , 1.05, 0.83,
       1.08, 0.93, 0.76, 0.72, 1.15, 0.33, 0.6 , 0.73, 1.17, 1.51, 3.07,
       0.63, 0.98, 1.02, 0.75, 0.94, 0.69, 0.57, 0.56, 2.56, 0.55, 0.92,
       1.35, 0.27, 0.06, 0.51, 2.1 , 1.2 , 0.17, 0.16, 1.38, 0.66, 1.56,
       2.17])

In [239]:
conditions=[
    (combined['total_weight(kg)']<= 0.5 ),
    (combined['total_weight(kg)']> 0.5) & (combined['total_weight(kg)']<= 1.0 ),
    (combined['total_weight(kg)']> 1.0) & (combined['total_weight(kg)']<= 1.5 ),
    (combined['total_weight(kg)']> 1.5) & (combined['total_weight(kg)']<= 2.0 ),
    (combined['total_weight(kg)']> 2.0) & (combined['total_weight(kg)']<= 2.5 ),
    (combined['total_weight(kg)']> 2.5) & (combined['total_weight(kg)']<= 3.0 ),
]

choices = ['0.5','1.0','1.5','2.0','2.5','3.0']
combined['weight_slab_x'] = np.select(conditions,choices)

# ---------

conditions=[
    (combined['Charged Weight']<= 0.5 ),
    (combined['Charged Weight']> 0.5) & (combined['Charged Weight']<= 1.0 ),
    (combined['Charged Weight']> 1.0) & (combined['Charged Weight']<= 1.5 ),
    (combined['Charged Weight']> 1.5) & (combined['Charged Weight']<= 2.0 ),
    (combined['Charged Weight']> 2.0) & (combined['Charged Weight']<= 2.5 ),
    (combined['Charged Weight']> 2.5) & (combined['Charged Weight']<= 3.0 ),
]

choices = ['0.5','1.0','1.5','2.0','2.5','3.0']
combined['weight_slab_courier'] = np.select(conditions,choices)

# ---------

conditions=[
    (combined['Type of Shipment']== 'Forward charges') & (combined['Zone_x'] =='a') & (combined['weight_slab_x'] =='0.5'),
    (combined['Type of Shipment']== 'Forward charges') & (combined['Zone_x'] =='b') &(combined['weight_slab_x'] == '0.5'),
    (combined['Type of Shipment']== 'Forward charges') & (combined['Zone_x'] =='c') &(combined['weight_slab_x'] == '0.5'),
    (combined['Type of Shipment']== 'Forward charges') & (combined['Zone_x'] =='d') &(combined['weight_slab_x'] == '0.5'),
    (combined['Type of Shipment']== 'Forward charges') & (combined['Zone_x'] =='e') &(combined['weight_slab_x'] == '0.5'),
# ---------
    (combined['Type of Shipment']== 'Forward and RTO charges') & (combined['Zone_x'] =='a') & (combined['weight_slab_x'] =='0.5'),
    (combined['Type of Shipment']== 'Forward and RTO charges') & (combined['Zone_x'] =='b') &(combined['weight_slab_x'] == '0.5'),
    (combined['Type of Shipment']== 'Forward and RTO charges') & (combined['Zone_x'] =='c') &(combined['weight_slab_x'] == '0.5'),
    (combined['Type of Shipment']== 'Forward and RTO charges') & (combined['Zone_x'] =='d') &(combined['weight_slab_x'] == '0.5'),
    (combined['Type of Shipment']== 'Forward and RTO charges') & (combined['Zone_x'] =='e') &(combined['weight_slab_x'] == '0.5'),

# ------------ Fixed charges
 (combined['Type of Shipment']== 'Forward charges') & (combined['Zone_x'] =='a') & 
 ((combined['total_weight(kg)']> 0.5) & (combined['total_weight(kg)']<= 1.0 )),

 (combined['Type of Shipment']== 'Forward charges') & (combined['Zone_x'] =='a') & 
 ((combined['total_weight(kg)']> 1.0) & (combined['total_weight(kg)']<= 1.5 )),

 (combined['Type of Shipment']== 'Forward charges') & (combined['Zone_x'] =='a') & 
 ((combined['total_weight(kg)']> 1.5) & (combined['total_weight(kg)']<= 2.0 )),

 (combined['Type of Shipment']== 'Forward charges') & (combined['Zone_x'] =='a') & 
 ((combined['total_weight(kg)']> 2.0) & (combined['total_weight(kg)']<= 2.5 )),

 (combined['Type of Shipment']== 'Forward charges') & (combined['Zone_x'] =='a') & 
 ((combined['total_weight(kg)']> 2.5) & (combined['total_weight(kg)']<= 3.0)),
# ---------------------------------b
 (combined['Type of Shipment']== 'Forward charges') & (combined['Zone_x'] =='b') & 
 ((combined['total_weight(kg)']> 0.5) & (combined['total_weight(kg)']<= 1.0 )),

 (combined['Type of Shipment']== 'Forward charges') & (combined['Zone_x'] =='b') & 
 ((combined['total_weight(kg)']> 1.0) & (combined['total_weight(kg)']<= 1.5 )),

 (combined['Type of Shipment']== 'Forward charges') & (combined['Zone_x'] =='b') & 
 ((combined['total_weight(kg)']> 1.5) & (combined['total_weight(kg)']<= 2.0 )),

 (combined['Type of Shipment']== 'Forward charges') & (combined['Zone_x'] =='b') & 
 ((combined['total_weight(kg)']> 2.0) & (combined['total_weight(kg)']<= 2.5 )),

 (combined['Type of Shipment']== 'Forward charges') & (combined['Zone_x'] =='b') & 
 ((combined['total_weight(kg)']> 2.5) & (combined['total_weight(kg)']<= 3.0)),

# ---------------------------------c
 (combined['Type of Shipment']== 'Forward charges') & (combined['Zone_x'] =='c') & 
 ((combined['total_weight(kg)']> 0.5) & (combined['total_weight(kg)']<= 1.0 )),

 (combined['Type of Shipment']== 'Forward charges') & (combined['Zone_x'] =='c') & 
 ((combined['total_weight(kg)']> 1.0) & (combined['total_weight(kg)']<= 1.5 )),

 (combined['Type of Shipment']== 'Forward charges') & (combined['Zone_x'] =='c') & 
 ((combined['total_weight(kg)']> 1.5) & (combined['total_weight(kg)']<= 2.0 )),

 (combined['Type of Shipment']== 'Forward charges') & (combined['Zone_x'] =='c') & 
 ((combined['total_weight(kg)']> 2.0) & (combined['total_weight(kg)']<= 2.5 )),

 (combined['Type of Shipment']== 'Forward charges') & (combined['Zone_x'] =='c') & 
 ((combined['total_weight(kg)']> 2.5) & (combined['total_weight(kg)']<= 3.0)),
# --------------------------------d

 (combined['Type of Shipment']== 'Forward charges') & (combined['Zone_x'] =='d') & 
 ((combined['total_weight(kg)']> 0.5) & (combined['total_weight(kg)']<= 1.0 )),

 (combined['Type of Shipment']== 'Forward charges') & (combined['Zone_x'] =='d') & 
 ((combined['total_weight(kg)']> 1.0) & (combined['total_weight(kg)']<= 1.5 )),

 (combined['Type of Shipment']== 'Forward charges') & (combined['Zone_x'] =='d') & 
 ((combined['total_weight(kg)']> 1.5) & (combined['total_weight(kg)']<= 2.0 )),

 (combined['Type of Shipment']== 'Forward charges') & (combined['Zone_x'] =='d') & 
 ((combined['total_weight(kg)']> 2.0) & (combined['total_weight(kg)']<= 2.5 )),

 (combined['Type of Shipment']== 'Forward charges') & (combined['Zone_x'] =='d') & 
 ((combined['total_weight(kg)']> 2.5) & (combined['total_weight(kg)']<= 3.0)),
 # ---------------------------------e
 (combined['Type of Shipment']== 'Forward charges') & (combined['Zone_x'] =='e') & 
 ((combined['total_weight(kg)']> 0.5) & (combined['total_weight(kg)']<= 1.0 )),

 (combined['Type of Shipment']== 'Forward charges') & (combined['Zone_x'] =='e') & 
 ((combined['total_weight(kg)']> 1.0) & (combined['total_weight(kg)']<= 1.5 )),

 (combined['Type of Shipment']== 'Forward charges') & (combined['Zone_x'] =='e') & 
 ((combined['total_weight(kg)']> 1.5) & (combined['total_weight(kg)']<= 2.0 )),

 (combined['Type of Shipment']== 'Forward charges') & (combined['Zone_x'] =='e') & 
 ((combined['total_weight(kg)']> 2.0) & (combined['total_weight(kg)']<= 2.5 )),

 (combined['Type of Shipment']== 'Forward charges') & (combined['Zone_x'] =='e') & 
 ((combined['total_weight(kg)']> 2.5) & (combined['total_weight(kg)']<= 3.0)),

# -----------------------

 (combined['Type of Shipment']== 'Forward and RTO charges') & (combined['Zone_x'] =='a') & 
 ((combined['total_weight(kg)']> 0.5) & (combined['total_weight(kg)']<= 1.0 )),

 (combined['Type of Shipment']== 'Forward and RTO charges') & (combined['Zone_x'] =='a') & 
 ((combined['total_weight(kg)']> 1.0) & (combined['total_weight(kg)']<= 1.5 )),

 (combined['Type of Shipment']== 'Forward and RTO charges') & (combined['Zone_x'] =='a') & 
 ((combined['total_weight(kg)']> 1.5) & (combined['total_weight(kg)']<= 2.0 )),

 (combined['Type of Shipment']== 'Forward and RTO charges') & (combined['Zone_x'] =='a') & 
 ((combined['total_weight(kg)']> 2.0) & (combined['total_weight(kg)']<= 2.5 )),

 (combined['Type of Shipment']== 'Forward and RTO charges') & (combined['Zone_x'] =='a') & 
 ((combined['total_weight(kg)']> 2.5) & (combined['total_weight(kg)']<= 3.0)),

# ---------------------------------b
 (combined['Type of Shipment']== 'Forward and RTO charges') & (combined['Zone_x'] =='b') & 
 ((combined['total_weight(kg)']> 0.5) & (combined['total_weight(kg)']<= 1.0 )),

 (combined['Type of Shipment']== 'Forward and RTO charges') & (combined['Zone_x'] =='b') & 
 ((combined['total_weight(kg)']> 1.0) & (combined['total_weight(kg)']<= 1.5 )),

 (combined['Type of Shipment']== 'Forward and RTO charges') & (combined['Zone_x'] =='b') & 
 ((combined['total_weight(kg)']> 1.5) & (combined['total_weight(kg)']<= 2.0 )),

 (combined['Type of Shipment']== 'Forward and RTO charges') & (combined['Zone_x'] =='b') & 
 ((combined['total_weight(kg)']> 2.0) & (combined['total_weight(kg)']<= 2.5 )),

 (combined['Type of Shipment']== 'Forward and RTO charges') & (combined['Zone_x'] =='b') & 
 ((combined['total_weight(kg)']> 2.5) & (combined['total_weight(kg)']<= 3.0)),

--
# ---------------------------------c
 (combined['Type of Shipment']== 'Forward and RTO charges') & (combined['Zone_x'] =='c') & 
 ((combined['total_weight(kg)']> 0.5) & (combined['total_weight(kg)']<= 1.0 )),

 (combined['Type of Shipment']== 'Forward and RTO charges') & (combined['Zone_x'] =='c') & 
 ((combined['total_weight(kg)']> 1.0) & (combined['total_weight(kg)']<= 1.5 )),

 (combined['Type of Shipment']== 'Forward and RTO charges') & (combined['Zone_x'] =='c') & 
 ((combined['total_weight(kg)']> 1.5) & (combined['total_weight(kg)']<= 2.0 )),

 (combined['Type of Shipment']== 'Forward and RTO charges') & (combined['Zone_x'] =='c') & 
 ((combined['total_weight(kg)']> 2.0) & (combined['total_weight(kg)']<= 2.5 )),

 (combined['Type of Shipment']== 'Forward and RTO charges') & (combined['Zone_x'] =='c') & 
 ((combined['total_weight(kg)']> 2.5) & (combined['total_weight(kg)']<= 3.0)),

# --------------------------------d

 (combined['Type of Shipment']== 'Forward and RTO charges') & (combined['Zone_x'] =='d') & 
 ((combined['total_weight(kg)']> 0.5) & (combined['total_weight(kg)']<= 1.0 )),

 (combined['Type of Shipment']== 'Forward and RTO charges') & (combined['Zone_x'] =='d') & 
 ((combined['total_weight(kg)']> 1.0) & (combined['total_weight(kg)']<= 1.5 )),

 (combined['Type of Shipment']== 'Forward and RTO charges') & (combined['Zone_x'] =='d') & 
 ((combined['total_weight(kg)']> 1.5) & (combined['total_weight(kg)']<= 2.0 )),

 (combined['Type of Shipment']== 'Forward and RTO charges') & (combined['Zone_x'] =='d') & 
 ((combined['total_weight(kg)']> 2.0) & (combined['total_weight(kg)']<= 2.5 )),

 (combined['Type of Shipment']== 'Forward and RTO charges') & (combined['Zone_x'] =='d') & 
 ((combined['total_weight(kg)']> 2.5) & (combined['total_weight(kg)']<= 3.0)),


 # ---------------------------------e
 (combined['Type of Shipment']== 'Forward and RTO charges') & (combined['Zone_x'] =='e') & 
 ((combined['total_weight(kg)']> 0.5) & (combined['total_weight(kg)']<= 1.0 )),

 (combined['Type of Shipment']== 'Forward and RTO charges') & (combined['Zone_x'] =='e') & 
 ((combined['total_weight(kg)']> 1.0) & (combined['total_weight(kg)']<= 1.5 )),

 (combined['Type of Shipment']== 'Forward and RTO charges') & (combined['Zone_x'] =='e') & 
 ((combined['total_weight(kg)']> 1.5) & (combined['total_weight(kg)']<= 2.0 )),

 (combined['Type of Shipment']== 'Forward and RTO charges') & (combined['Zone_x'] =='e') & 
 ((combined['total_weight(kg)']> 2.0) & (combined['total_weight(kg)']<= 2.5 )),

 (combined['Type of Shipment']== 'Forward and RTO chargescharges') & (combined['Zone_x'] =='e') & 
 ((combined['total_weight(kg)']> 2.5) & (combined['total_weight(kg)']<= 3.0)),



]

choices = ['29.5','33','40.1','45.4','56.6',
           # --------- fwd + rto
          29.5+13.6, 33+20.5, 40.1+31.9	,45.4+41.3,56.6+50.7,
          #  Forward 
           # ---------a
           29.5+23.6 , 29.5+2*23.6 ,29.5+3*23.6 ,29.5+4*23.6 , 29.5+5*23.6,
          #  -------------b
           33+28.3,33+2*28.3,33+3*28.3,33+4*28.3,33+5*28.3,
          #  ----------c
           40.1+38.9,40.1+2*38.9,40.1+3*38.9,40.1+4*38.9,40.1+5*38.9,
           
          #  ---------------d	
           45.4+44.8,45.4+2*44.8,45.4+3*44.8,45.4+4*44.8,45.4+5*44.8,
          #  -------------e
           56.6+55.5,56.6+2*55.5,56.6+3*55.5,56.6+4*55.5,56.6+5*55.5,

          #  Forward and RTO charges
          #  a
           (29.5+13.6)+(23.6+23.6),(29.5+2*13.6)+(23.6+2*23.6),(29.5+3*13.6)+(23.6+3*23.6),(29.5+4*13.6)+(23.6+4*23.6),(29.5+5*13.6)+(23.6+5*23.6),
          #  b
            (33+28.3)+(20.5+28.3),(33+2*28.3)+ (20.5+2*28.3),(33+3*28.3)+ (20.5+3*28.3),(33+4*28.3)+ (20.5+4*28.3),(33+5*28.3)+ (20.5+5*28.3),
          
          #  c
           (40.1+38.9)+ (31.9+38.9),(40.1+2*38.9)+ (31.9+2*38.9),(40.1+3*38.9)+ (31.9+3*38.9),(40.1+4*38.9)+ (31.9+4*38.9),(40.1+5*38.9)+ (31.9+5*38.9),	
           
          #  d
           (45.4+44.8)+(41.3+44.8),(45.4+2*44.8)+(41.3+2*44.8),(45.4+3*44.8)+(41.3+3*44.8),(45.4+4*44.8)+(41.3+4*44.8),(45.4+5*44.8)+(41.3+5*44.8)
           ,
          #  e 
            (56.6+55.5)+(50.7+55.5),(56.6+2*55.5)+(50.7+2*55.5),(56.6+3*55.5)+(50.7+3*55.5),(56.6+4*55.5)+(50.7+4*55.5),(56.6+5*55.5)+(50.7+5*55.5)
      ]
combined['expected_charges_x(Rs.)'] = np.select(conditions,choices)

# -------------
combined.head(50)

,total_weight(kg),AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode,Zone_x,Type of Shipment,Billing Amount (Rs.),Zone_y,weight_slab_x,weight_slab_courier,expected_charges_x(Rs.)
0,0.22,1091117221940,2001806210,2.92,121003,140604,b,Forward charges,174.5,b,0.5,3.0,33
1,0.48,1091117222065,2001806226,0.68,121003,723146,d,Forward charges,90.2,d,0.5,1.0,45.4
2,0.50,1091117222080,2001806229,0.71,121003,421204,d,Forward charges,90.2,d,0.5,1.0,45.4
3,1.30,1091117222124,2001806232,1.30,121003,507101,d,Forward charges,135.0,d,1.5,1.5,135.0
4,0.25,1091117222135,2001806233,0.78,121003,263139,b,Forward charges,61.3,b,0.5,1.0,33
5,0.25,1091117222146,2001806251,1.27,121003,743263,d,Forward charges,135.0,d,0.5,1.5,45.4
6,0.62,1091117222194,2001806273,1.00,121003,486886,d,Forward charges,90.2,d,1.0,1.0,90.19999999999999
7,0.50,1091117222360,2001806304,0.71,121003,302017,d,Forward charges,90.2,b,0.5,1.0,45.4
8,0.50,1091117222360,2001806304,0.71,121003,302017,d,Forward charges,90.2,b,0.5,1.0,45.4
9,0.50,1091117222360,2001806304,0.71,121003,302017,d,Forward charges,90.2,b,0.5,1.0,45.4
10,0.50,1091117222360,2001806304,0.71,121003,302017,d,Forward charges,90.2,b,0.5,1.0,45.4
11,0.50,1091117222360,2001806304,0.71,121003,302017,d,Forward charges,90.2,b,0.5,1.0,45.4
12,0.50,1091117222570,2001806338,0.70,121003,392150,d,Forward charges,90.2,d,0.5,1.0,45.4
13,2.26,1091117222931,2001806408,2.50,121003,532484,d,Forward charges,224.6,d,2.5,2.5,224.6
14,0.50,1091117223211,2001806446,0.69,121003,382830,d,Forward charges,90.2,d,0.5,1.0,45.4
15,0.70,1091117223244,2001806458,1.00,121003,143001,b,Forward charges,61.3,b,1.0,1.0,61.3
16,1.62,1091117223351,2001806471,1.70,121003,313027,d,Forward charges,179.8,b,2.0,2.0,179.79999999999998
17,0.50,1091117224353,2001806533,0.68,121003,711303,d,Forward charges,90.2,d,0.5,1.0,45.4
18,0.13,1091117224611,2001806547,1.00,121003,283102,b,Forward charges,61.3,b,0.5,1.0,33
19,0.95,1091117224902,2001806567,1.16,121003,370201,d,Forward charges,135.0,d,1.0,1.5,90.19999999999999
20,0.50,1091117225016,2001806575,0.68,121003,248001,b,Forward charges,61.3,b,0.5,1.0,33
21,0.50,1091117225016,2001806575,0.68,121003,248001,b,Forward charges,61.3,b,0.5,1.0,33
22,0.96,1091117225484,2001806616,1.08,121003,144001,b,Forward charges,89.6,b,1.0,1.5,61.3
23,0.50,1091117226221,2001806652,0.69,121003,403401,d,Forward charges,90.2,d,0.5,1.0,45.4
24,0.24,1091117229555,2001806686,0.15,121003,326502,d,Forward charges,45.4,d,0.5,0.5,45.4
25,0.50,1091117226910,2001806726,0.68,121003,831002,d,Forward charges,90.2,d,0.5,1.0,45.4
26,0.96,1091117226674,2001806733,1.13,121003,452001,d,Forward charges,135.0,d,1.0,1.5,90.19999999999999
27,0.50,1091117226711,2001806735,0.69,121003,721636,d,Forward charges,90.2,d,0.5,1.0,45.4
28,0.84,1091117227116,2001806768,1.02,121003,322201,d,Forward charges,135.0,b,1.0,1.5,90.19999999999999
29,0.61,1091117227573,2001806776,2.86,121003,226004,b,Forward charges,174.5,b,1.0,3.0,61.3
30,0.36,1091117227816,2001806801,1.35,121003,248001,b,Forward charges,89.6,b,0.5,1.5,33
31,0.36,1091117227816,2001806801,1.35,121003,248001,b,Forward charges,89.6,b,0.5,1.5,33
32,0.13,1091117228133,2001806823,0.59,121003,314001,d,Forward charges,90.2,b,0.5,1.0,45.4
33,0.50,1091117228192,2001806828,0.69,121003,331022,d,Forward charges,90.2,b,0.5,1.0,45.4
34,0.84,1091117229776,2001806885,1.00,121003,208019,b,Forward charges,61.3,b,1.0,1.0,61.3
35,0.50,1091117229183,2001806968,0.68,121003,305801,d,Forward charges,90.2,b,0.5,1.0,45.4
36,0.50,1091117229290,2001807004,0.68,121003,410206,d,Forward charges,90.2,d,0.5,1.0,45.4
37,0.24,1091117229345,2001807012,0.15,121003,515591,d,Forward charges,45.4,d,0.5,0.5,45.4
38,1.47,1091117323005,2001807036,1.64,121003,516503,d,Forward charges,179.8,d,1.5,2.0,135.0
39,1.16,1091117323112,2001807058,1.15,121003,140301,b,Forward charges,89.6,b,1.5,1.5,89.6
40,1.16,1091117323112,2001807058,1.15,121003,140301,b,Forward charges,89.6,b,1.5,1.5,89.6
41,0.50,1091117323215,2001807084,0.67,121003,742103,d,Forward charges,90.2,d,0.5,1.0,45.4
42,0.50,1091117323812,2001807186,0.50,121003,396001,d,Forward charges,45.4,d,0.5,0.5,45.4
43,0.61,1091117324011,2001807241,0.79,121003,341001,d,Forward charges,90.2,b,1.0,1.0,90.19999999999999
44,0.50,1091117324206,2001807290,0.50,121003,711106,d,Forward charges,45.4,d,0.5,0.5,45.4
45,0.49,1091117324346,2001807328,2.28,121003,335502,d,Forward charges,224.6,b,0.5,2.5,45.4
46,0.50,1091117333100,2001807329,0.73,121003,302039,d,Forward charges,90.2,b,0.5,1.0,45.4
47,2.00,1091117324394,2001807362,2.00,121003,452018,d,Forward charges,179.8,d,2.0,2.0,179.79999999999998
48,1.05,1091117325094,2001807415,1.00,121003,208001,b,Forward charges,61.3,b,1.5,1.0,89.6
49,0.83,1091117333251,2001807613,1.04,121003,335803,d,Forward charges,135.0,b,1.0,1.5,90.19999999999999

In [240]:
rates

,fwd_a_fixed,fwd_a_additional,fwd_b_fixed,fwd_b_additional,fwd_c_fixed,fwd_c_additional,fwd_d_fixed,fwd_d_additional,fwd_e_fixed,fwd_e_additional,rto_a_fixed,rto_a_additional,rto_b_fixed,rto_b_additional,rto_c_fixed,rto_c_additional,rto_d_fixed,rto_d_additional,rto_e_fixed,rto_e_additional
0,29.5,23.6,33,28.3,40.1,38.9,45.4,44.8,56.6,55.5,13.6,23.6,20.5,28.3,31.9,38.9,41.3,44.8,50.7,55.5

In [241]:
combined.columns
combined['expected_charges_x(Rs.)']=combined['expected_charges_x(Rs.)'].apply(lambda x: float(x))
combined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 174 entries, 0 to 173
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   total_weight(kg)         174 non-null    float64
 1   AWB Code                 174 non-null    int64
 2   Order ID                 174 non-null    int64
 3   Charged Weight           174 non-null    float64
 4   Warehouse Pincode        174 non-null    int64
 5   Customer Pincode         174 non-null    int64
 6   Zone_x                   174 non-null    object
 7   Type of Shipment         174 non-null    object
 8   Billing Amount (Rs.)     174 non-null    float64
 9   Zone_y                   174 non-null    object
 10  weight_slab_x            174 non-null    object
 11  weight_slab_courier      174 non-null    object
 12  expected_charges_x(Rs.)  174 non-null    float64
dtypes: float64(4), int64(4), object(5)
memory usage: 19.0+ KB

In [242]:

combined['Difference Between Expected Charges and Billed Charges (Rs.)']=combined['Billing Amount (Rs.)']- combined['expected_charges_x(Rs.)']
combined

,total_weight(kg),AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode,Zone_x,Type of Shipment,Billing Amount (Rs.),Zone_y,weight_slab_x,weight_slab_courier,expected_charges_x(Rs.),Difference Between Expected Charges and Billed Charges (Rs.)
0,0.22,1091117221940,2001806210,2.92,121003,140604,b,Forward charges,174.5,b,0.5,3.0,33.0,141.5
1,0.48,1091117222065,2001806226,0.68,121003,723146,d,Forward charges,90.2,d,0.5,1.0,45.4,44.8
2,0.50,1091117222080,2001806229,0.71,121003,421204,d,Forward charges,90.2,d,0.5,1.0,45.4,44.8
3,1.30,1091117222124,2001806232,1.30,121003,507101,d,Forward charges,135.0,d,1.5,1.5,135.0,0.0
4,0.25,1091117222135,2001806233,0.78,121003,263139,b,Forward charges,61.3,b,0.5,1.0,33.0,28.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,0.48,1091121183730,2001821995,0.50,121003,342008,d,Forward charges,45.4,b,0.5,0.5,45.4,0.0
170,1.38,1091121305541,2001822466,1.10,121003,342301,d,Forward charges,135.0,b,1.5,1.5,135.0,0.0
171,0.66,1091121666133,2001823564,0.70,121003,492001,d,Forward and RTO charges,172.8,d,1.0,1.0,176.3,-3.5
172,1.56,1091121981575,2001825261,1.60,121003,517128,d,Forward and RTO charges,345.0,d,2.0,2.0,355.5,-10.5
173,2.17,1091122418320,2001827036,1.60,121003,173213,b,Forward charges,117.9,e,2.5,2.0,146.2,-28.3

In [243]:
# def compute_grade(df):
#     df.loc[(df['English'] <= df['IQ']) & (df['Mathematics'] > df['Physics']),'Grade'] = 'A'
#     df.loc[(df['Physics'] <= df['IQ']) & (df['Physics']>50) & ((df['Mathematics'] < df['IQ']) | (df['English']>30)),'Grade'] = 'A+'
#     df.loc[((df['Mathematics'] <= df['IQ']) & (df['English'] < 30)),'Grade'] = 'B'
#     df.loc[(df['Physics'] > 60) & ((df['Mathematics']>50) | (df['English']>50)),'Grade'] = 'C'
#     df['Grade'].fillna('C', inplace=True)